/*********   Header Styling STart ****/
.row {
	margin: 0px;
}
.header-section-right-side {
    width: 100%;
    background-image: url(../images/home_header_right.png);
    height: 450px;
    background-size: cover;
}
.header-section-heading {
	position: relative;
}
.header_image.row {
	margin: 0px;
}

@-webkit-keyframes changeColors {
	0% {
	    background-position: 0 50%;
	}
	50% {
	    background-position: 100% 50%;
	}
	100% {
	    background-position: 0 50%;
	}
}

.searchbar{
	height: 60px;
	background-color: #353b48;
	border-radius: 30px;
	padding: 10px;
}
.search_input{
	color: white;
	border: 0;
	outline: 0;
	background: none;
	width: 0;
	caret-color:transparent;
	line-height: 40px;
	transition: width 0.4s linear;
}
.searchbar:hover > .search_input{
	padding: 0 10px;
	width: 300px;
	caret-color:green;
	transition: width 0.4s linear;
}
.searchbar:hover > .search_icon{
	background: white;
	color: green;
	width: 45px;
}
.search_icon{
	height: 40px;
	width: 40px;
	float: right;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	color:white;
}

/*********   Header Styling End ****/
/*********   NavBar Styling Start ****/

/* Cards component */
img.profile_nav_img {
    width: 50px;
    border: 1px solid;
}
.header_section_main li a,
.header_section_main .navbar-brand {
	color: #000 !important;
}
.row.card-main .cards_images img {
    width: 30% !important;
}

element.style {
}
.card_main_div > div {
	box-shadow: 8px 8px 8px -2px #ccc, 0px 6px 8px 5px #ccc;
    border: 1px solid #D3D3D3;
    margin: 0px;
    border-radius: 5px;
}
.card_main_div:hover {
	box-shadow: none;
	cursor: pointer;
}
.row.card-main .cards_images img {
    width: 60% !important;
    height: 150px;
    padding-top: 10px;
}
.number-of-user-icon img {
    width: 25px;
}
/* Feature Component */
.features-first-section {
    margin: 0px;
}
.right-section-image img {
    width: 100%;
}
.feature-section-main {
	margin-top: 100px;
}
.feature-first-left abbr {
	text-decoration: none;
}
.feature-second-left img {
    width: 100%;
}
.feature-second-right abbr {
    text-decoration: none;
}
.features-second-section {
	margin-top: 100px;
}




/*********   Header Styling End ****/
/*********   Body Styling Start ****/


.card-main {
    margin: 0px;
}
.card_section_start_line {
    margin-top: 150px;
    margin-bottom: 70px;
    width: 70%;
}














/*********   Body Styling End ****/
/*********   Footer Styling STart ****/

.footer_section_main {
	clear: both;
	background-color: #242729;
    color: white;
}
.footer_menu_main {
    margin: 0px;
}
.footer_copy_right_main {
    text-align: right;
    font-size: 16px;
}
.footer_copy_right_main.row {
    margin: 0px;
}
.footer_menu_main ul li {
	list-style: none;
}
.footer-cr-line {
	background-color: #222;
}